/* Fondo general */
.menu-bg {
  background: #111;
  min-height: 100vh;
}

/* Título */
.menu-title {
  color: #f1c40f;
  font-weight: bold;
  letter-spacing: 3px;
}

.nav-logo {
  height: 55px;
  margin-top: 5px;
}

nav {
  height: 64px;
  line-height: 64px;
}

.logo {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}


/* Tarjetas del menú */
.menu-card {
  position: relative;
  height: 120px;
  margin-bottom: 15px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

/* Oscurecer imagen */
.menu-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

/* Texto */
.menu-card span {
  position: relative;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 2;
}

/* Hover */
.menu-card:hover::before {
  background: rgba(0,0,0,0.3);
}
.menu-card {
  background: #111;
  color: white;
  padding: 35px;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 12px;
  transition: 0.3s;
}

.menu-card:hover {
  background: #333;
  transform: scale(1.05);
}

.menu-link {
  text-decoration: none;
}

